@{ ViewData["Title"] = "AboutUs"; }
<style>
    body {
background-color:darkblue;
    }

    h1 {
        text-align: center;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:yellow
    }

    h2 {
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        color:wheat;
    }

    p {
        font-size: medium;
        font-family: 'Lucida Sans';
        color:aqua;
    }
</style>
<h1>Perfume Pro</h1>
<h2>About Us</h2>
<p>Welcome to Perfume Pro, your premier destination for high-quality fragrances. We are passionate about providing our customers with the finest perfumes and colognes from around the world. With a commitment to quality and excellence, we have become a trusted name in the fragrance industry.</p>
<p>Our mission is to offer a diverse selection of scents that cater to various preferences and occasions. Whether you're looking for a signature scent, a gift for a loved one, or a special fragrance for a special day, Perfume Pro has you covered.</p>
<p>At Perfume Pro, we understand the power of a captivating fragrance. It has the ability to evoke memories, boost confidence, and enhance your overall experience. That's why we carefully curate our collection to ensure that you find the perfect scent for any moment.</p>
<p>We take pride in our commitment to customer satisfaction, and our knowledgeable staff is always ready to assist you in finding the ideal fragrance. We also offer convenient online shopping and fast delivery to make your experience with us even more enjoyable.</p>
<p>Thank you for choosing Perfume Pro. We look forward to helping you discover the scent that makes every moment special.</p>
    
