@{
    ViewData["Title"] = "Home Page";
}


<body>
    <style>
        h1{
            color:wheat;
        }
        body{
            background-color:darkblue;
        }
        main{
            display:block;
        }
        img{
            width:200px;
        }

        p{
            font-family:'Agency FB';
            color:aqua;
        }
    </style>
    <div class="text-center">
        <h1 class="display-4">Welcome to our Perfume Shop</h1>
    </div>
    <main>
        <section>
            <img src="/images/perfume1.jpg" alt="Perfume" />
            <p>Name :Chaps</p>
        </section>
        <section>
            <img src="/images/perfume2.jpg" alt="Perfume" />
            <p>Name : GK </p>
        </section>
        <section>
            <img src="/images/perfume3.jpg" alt="Perfume" />
            <p>Name : Dior </p>
        </section>
        <section>
            <img src="/images/perfume4.jpg" alt="Perfume" />
            <p>Name : Guess </p>
        </section>
        <section>
            <img src="/images/perfume5.jpg" alt="Perfume" />
            <p>Name : Blue Chanel</p>
        </section>

    </main>

</body>