@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <style>

        body {
            background-color: darkblue;
        }

        h1{
            color:wheat;
        }
        p {
            font-family: 'Calisto MT';
            color: yellow;
        }
    </style>
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</body>